<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.BD.conexion" connectionString="Data Source=DESKTOP-UHKUNM0\SQLEXPRESS;Initial Catalog=Consultorio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>