body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Leckerli One','Algerian';
}

.cover{
    background-color:#ffffff;
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
#Img1{
 height:100%;
 width:100%;
}
#Image1{
    width:24vw;
    height:60vh;
    margin-left:38vw;
}
.elements{
    position:absolute;
    top:0;bottom:0;right:0;left:0;
    display:flex;
    align-items:center;
    justify-content:center;
}
.intro{
    width:50vw;
    height:70vh;
    margin-left:5vw;
    box-shadow:black 0px 40px 60px;
}

.intro2 {
    width: 24vw;
    height: 60vh;
    margin-left: 10vw;
    box-shadow: black 0px 40px 60px;
}

header {
    width: 100vw;
    height: 10vh;
    position:fixed;
    padding-left:1vw;
    
    
}
#icono{
    width:5vw;
    height:7vh;
    vertical-align:top;
}
#lbIngresar{
    display:block;
    padding-top:7vh;
    padding-left:4vw;
    font-size:3vw;
    font-size:5vh;
    font-family:'Leckerli One','Algerian';
    text-shadow:black 0px 20px 20px;
}
#lbTitulo {
    font-size: 3vw;
    font-size: 5vh;
    margin-left: 1vw;
    margin-top: 1vh;
}
.txt1{
    
    margin-top:4vh;
    margin-left:2vw;
}
.txt2{
    margin-top:7.4vh;
    margin-left:2vw;
}

    .txt1[placeholder], .txt2[placeholder] {
        font-family: 'Leckerli One','Algerian';
        font-size: 2vw;
        padding-left: 6vw;
    }
.txtstyle{
    width:20vw;
    height:6vh;
    border:0;
    border-radius:4%;
    background-color:rgba(252,251,251,0.80);
    box-shadow:black 0px 30px 50px;
}
.btnstyle {
    margin-top: 7vh;
    width: 17vw;
    height: 7vh;
    margin-left: 3.5vw;
    font-family: 'Leckerli One','Algerian';
    font-size: 2vw;
    border: 0px;
    color: black;
    text-shadow: black 0px 10px 10px;
    background-color: rgba(255,255,255,0.57);
}
.btnstyle:hover{
    background-color:transparent;
    box-shadow:black 0px 90px 80px;
}